body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh 5vw;
    background: linear-gradient(0, rgba(185, 18, 18, 0.705), rgba(185, 18, 18, 0.905));
    color: white;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.image-container {
    display: flex;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1), 0 4px 8px 0 rgb(0, 0, 0, 0.3);
    margin-bottom: 2em;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5em solid grey;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1), 0 4px 8px 0 rgb(0, 0, 0, 0.3);
}

.profile-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical-align-text {
    margin: auto;
}

@media screen and (min-width: 600px) {
    .image-container:hover {
        transform: scale(1.02);
    }
    .project-row {
        display: grid;
        column-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    .about-container {
        display: grid;
        grid-template-columns: fit-content(100%) auto;
        column-gap: 2em;
    }
}

@media screen and (max-width: 599px) {
    .project-row {
        display: grid;
        column-gap: 2em;
        grid-template-rows: 50vw auto;
    }
    .about-container {
        display: grid;
        grid-template-rows: fit-content(100%) auto;
        row-gap: 2em;
    }
    .profile-container {
        margin: auto;
    }
}