body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(50, 122, 255, 0.822);
    color: white;
    margin: auto;
    overscroll-behavior: none;
}

h1 {
    text-align: center;
    font-size: 2em;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    background: linear-gradient(rgba(50, 122, 255, 0.522), rgba(50, 122, 255, 0.822));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-title {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1em;
}

.nav-bar-link-row {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;
    padding: 1em;
}

.nav-bar-link-item {
    background: rgba(0, 70, 201, 0.842);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 2px 10px 0 rgba(0, 0, 0, 0.30);
    margin: auto;
    color: white;
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding: 1em;
}

.nav-bar-link-item:hover {
    transform: scale(1.05);
}

.image-container {
    display: flex;
    margin-bottom: 2em;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 12px solid navy;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}