body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: auto;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(270deg, #4aaace, #30c592, #c5a130, #d96e3c, #703cd9);
    background-size: 1000% 1000%;
    animation: BackgroundGradient 10s ease infinite;
}

hr {
    border: 1px solid white;
    width: 100%;
}

main {
    padding: 1em;
    max-width: 75vw;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2em;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-title {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1em;
}

.nav-bar-link-row {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;
    padding: 1em;
}

.nav-bar-link-item {
    margin: auto;
    color: white;
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding: 1em;
}

.nav-bar-link-item:hover {
    transform: scale(1.08);
}

.image-container {
    display: flex;
    margin-bottom: 2em;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 12px solid navy;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page-body {
    flex-direction: column;
}

.home-page-main {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-footer {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-footer-item {
    margin-right: 1em;
    transition: all 0.2s ease-in-out
}

.main-footer-item:hover {
    transform: scale(1.1);
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}