body {
    flex-direction: column;
}

.project-container {
    display: flex;
}

.project-content {
    margin-bottom: 2em;
    width: 100%;
    height: 100%;
}

.projects-hscroll {
    display: flex;
    flex-direction: column;
}

.project-item {
    margin-bottom: 2em;
}