body {
    background-color: #F4F4F9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    --darker-color: #01161E;
    --primary-color: #124559;
    --secondary-color: #608b9b;
    --lighter-color: rgb(227, 227, 233);
    position: relative;
}

figure {
    margin: 0;
}

h2 {
    color: var(--primary-color);
    margin: 0;
}

header {
    margin: 0;
}

hr {
    border-color: black;
    margin: 2em 0;
}

main {
    color: var(--darker-color);
    margin: auto;
    max-width: 80vw;
    min-width: 80vw;
    overflow: scroll;
}

p {
    margin: 0;
}

.clear {
    opacity: 100%;
}

.icon-caption {
    color: var(--secondary-color);
    font-size: 0.83em;
    margin-top: 0.5em;
    text-align: center;
}

.ingredient-button {
    background-color: red;
    background-image: url("https://image.flaticon.com/icons/png/24/482/482602.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto auto auto;
    padding: 1em;
    transition: all 0.2s ease-in-out;
}

.ingredient-button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-image: url("https://image.flaticon.com/icons/png/24/483/483327.png");
}

.ingredient-button-selected {
    background-color: rgb(0, 255, 0);
    background-image: url("https://image.flaticon.com/icons/png/24/483/483327.png");
}

.ingredient-container {
    column-gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2em;
    row-gap: 1.5em;
    padding: 1em;
}

.ingredient-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient-grid-left {
    margin: auto;
}

.ingredient-grid-right {
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    row-gap: 0.5em;
}

.ingredient-grid-right-bottom {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    row-gap: 0.5em;
}

.ingredient-grid-right-top {
    column-gap: 1em;
    display: grid;
    grid-template-columns: auto 2em;
}

.ingredient-image {
    margin: auto;
}

.ingredient-item {
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--primary-color);
    column-gap: 1em;
    display: grid;
    grid-template-rows: 1fr fit-content(100%);
    padding: 0.83em 1em;
    transition: all 0.2s ease-in-out;
}

.ingredient-item-selected {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.ingredient-name {
    margin: 0;
    text-transform: capitalize;
}

.ingredients-select {
    font-size: 1em;
}

.ingredients-top-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.ingredient-tag {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.8em;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.83em;
    margin: auto auto auto 0;
    padding: 0.2em 0.83em;
    width: fit-content;
}

.instruction-container {
    color: var(--primary-color);
    display: grid;
    margin-top: 1em;
    row-gap: 2em;
    grid-template-columns: 80vw;
}

.instruction-content {
    display: grid;
    row-gap: 1em;
}

.instruction-images, .instruction-viewer-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.instruction-item-grid {
    display: grid;
    row-gap: 3em;
    grid-template-columns: fit-content(100%) auto;
}

.instruction-number {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bolder;
    max-height: 1em;
    min-width: 1em;
    padding: 1em;
    margin: 0 1em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    border: 2px solid var(--secondary-color);
}

.instruction-number:hover {
    background-color: var(--secondary-color);
    color: #F4F4F9;
    cursor: pointer;
}

.instructions-top-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructions-top-row-button-item {
    margin-left: 1em;
}

.instructions-top-row-buttons {
    align-items: center;
}

.instruction-text {
    font-size: 1.2em;
}

.instruction-viewer {
    align-items: center;
    background-color: white;
    border: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    padding: 1em;
    transition: all 0.2s ease-in-out;
    width: fit-content;
}

.instruction-viewer-icon {
    height: 3em;
    object-fit: contain;
}

.instruction-viewer-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.4em;
    padding: 0.5em;
}

.instruction-viewer-title, .instruction-viewer-title {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    text-align: center;
}

.isHidden {
    transition: all 0.2s ease-in-out;
    visibility: hidden;
}

.isSearching {
    background-color: grey;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    opacity: 60%;
    position: sticky;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.no-scroll {
    overflow: hidden;
}

.opaque {
    opacity: 25%;
}

.page-title {
    text-align: center;
    font-weight: bolder;
    color: var(--primary-color);
    margin: 0;
}

.recipe-header-container {
    width: 100%;
}

.recipe-image-container {
    margin-right: 2em;
}

.recipe-image-content {
    display: flex;
    max-height: 200px;
}

.recipe-name-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-name-item {
    background-color: white;
    border-radius: 1em;
    color: var(--primary-color);
    font-weight: bolder;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0.5em 1em;
    width: fit-content;
}

.recipe-name-summary {
    color: var(--secondary-color);
}

.recipe-name-title {
    color: var(--primary-color);
    margin-top: 0;
    text-transform: capitalize;
}

.recipe-overview-section {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.searchbar-button-container {
    padding: 4px 0;
}

.searchbar-button-item {
    border: none;
    border-radius: 1em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 2px 0 6px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
    height: 100%;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.searchbar-button-item:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
}

.searchbar-container {
    column-gap: 1em;
    display: grid;
    grid-template-columns: auto 100px;
    margin-top: 1em;
}

.searchbar-input {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 2em;
    padding: 0.25em;
}

.search-notice {
    text-align: center;
    padding-bottom: 1em;
    color: rgb(225, 0, 50);
}

.spinning-indicator {
    animation: spin 1.3s linear infinite;
    border: 3vw solid white;
    border-radius: 50%;
    border-top: 3vw solid var(--primary-color);
    margin: auto;
    overflow: hidden;
    padding: 10vw;
}

.spinning-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sticy-header {
    background-color: var(--lighter-color);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em;
    margin-bottom: 1em;
}

::placeholder {
    color: var(--secondary-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 870px) {
    .ingredient-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .ingredient-grid-left {
        margin: auto;
    }
    .recipe-image-container {
        margin-bottom: 2em;
        margin-right: 0;
    }
    .recipe-overview-section {
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 710px) {
    .ingredient-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .ingredient-grid-left {
        margin: auto;
    }
    .instruction-images {
        flex-direction: column;
    }
    .instruction-viewer{
        margin-right: 0;
        margin-bottom: 1em;
    }
}

@media(max-width: 490px) {
    .searchbar-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
    .searchbar-button-item {
        font-size: 1.5em;
    }
    .ingredient-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .instructions-top-row, .ingredients-top-row, .instructions-top-row-buttons {
        flex-direction: column;
    }
    .ingredients-select {
        margin: 0.7em auto;
    }
    .instruction-content, .instruction-images {
        display: flex;
        flex-direction: column;
    }
    .instruction-text, .instruction-viewer {
        margin-bottom: 1em;
    }
    .icon-caption {
        font-size: 1em;
    }
    h2 {
        margin-bottom: 0.4em;
        font-size: 2em;
    }
    .instruction-viewer-items {
        display: grid;
    }
}

.inner {
    position: sticky;
    left: 0;
    top: 0;
    height: auto;
    z-index: 3;
}

.full-height {
    height: 100%;
}